<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      I’d like you to build a one page application that does the following:
For a company, such as NML, to send out a question to their staff for feedback, e.g. would you like to go on a blockchain course?
The url has to be emailed out (i.e. we need a friendly url)
The application allows you to login (maybe just using your surname i.e. very basic authentication)
It allows you to read the question, then respond with yes / no or leave null
On your record you should be able to edit
The db will require a list of all employees, a questions table and an answers table.
Ideally we would want to be able to see a list of all employees with their response to the question.

    </p>
  </body>
</html>
