<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between mb-3">
  <div class="container">
    <a class="navbar-brand" href="#"><h2 class="display-6">Employee answering</h2></a>

    <a class="btn btn-primary" type="submit" href="/login" role="button">Edit Name?</a>
  </div>
</nav>

<div class="container">
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid pt-4">
      <div class="container">
        <form class="favAnswers" action="" method="post">
          <p class="lead mb-4">Please select one of the answer below:</p>

          {{#if messages.success}}
            <div class="alert alert-success" role="alert">
              {{messages.success}}
            </div>
          {{/if}}

          <div class="col-md-12 text-center mb-3">
            <div class="btn-group" data-toggle="buttons">
              <input type="checkbox" name="answer" value="Yes" {{#if response.Yes}} checked {{/if}}> Yes
              <input type="checkbox" name="answer" value="No" {{#if response.No}} checked {{/if}}> No
              <input type="checkbox" name="answer" value="Null" {{#if response.Null}} checked {{/if}}> Null
            </div>
          <!-- //Allow only one checkbox to be selected at once -->
            <script>
              $(document).ready(function() {
                $('input:checkbox').click(function() {
                  $('input:checkbox').not(this).prop('checked', false);
                });
              });
            </script>
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
