<nav class="navbar navbar-expand-lg navbar-light bg-gray justify-content-between">
  <div class="container">
    <a class="navbar-brand" href="/register"><h2 class="display-6">Would you like to go on a blockchain course?</h2></a>
  </div>
</nav>
